<header>
  <h2 class="border-bottom add-padding-bottom textright"><a href="{{ $.Site.BaseURL }}"> Ассоциация нейрохирургов <br class="wideonly"> Санкт-Петербурга </a></h2>
 <hr class="wideonly">
 <div class="textright wideonly">
  <h2>контакты</h2>
  <p><strong>Олюшин Виктор Емельянович</strong><br>Президент ассоциации</p>
  <p><strong>Лавровский Павел Владимирович</strong><br>Секретарь ассоциации</p>
  <p><strong>Комков Денис Юрьевич</strong><br>Казначей ассоциации</p>
  <br>
  </div>
  <ul>
    <li><a href="{{ $.Site.BaseURL }}#meetings">заседания</a></li>
    <li><a href="{{ $.Site.BaseURL }}#events">события</a></li>
    <li><a href="{{ $.Site.BaseURL }}#history">история</a></li>
    <li class="wideinvisible"><a href="{{ $.Site.BaseURL }}#contacts">контакты</a></li>
  </ul>
  <br>

</header>


